.notfound{
    margin: 20px auto;
    background-color: black;
    color: white;
    width: 80%;
    text-align: center;
    align-content: center;
    height: auto;

}

.notfoundinner{
    padding:20px;
}
