.owners{
    background-color: rgb(245, 245, 245);
    background-image: url('../photos/pic2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.owners h1,h2{
    text-align: center;
    color: green;
    width: 80%;
    margin: 10px 10%;
    text-shadow: 2px 3px 5px;
}

.table{
    width: 80%;
    margin: 20px 10%;
}
.table img{
    width: 120px;
}
@media screen and (max-width: 600px){
    .table{
        width: 100%;
        margin: 20px 0%;
    }
    .table img{
        width: 50px;
    }
}
