.login{
    background-image: url('../photos/pexels-evie-shaffer-2512387.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 100%;
}

.login h1{
    margin: 5px 0 50px 0;
}

.inner h1{
    margin-top: 10px;
}

.login .inner{
    width: 40%;
    margin: 10px 10% 10px 50%;
    box-shadow: aqua;
    box-shadow: 5px 10px 10px rgb(224, 224, 224);
    padding: 15px;
    background-color: white;
    border: 1px solid rgb(224, 224, 224);
 }
 .login form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 80%;
     margin: 20px 10%;
     
 }
 .login input{
     border-radius: 5px;
     line-height: 25px;
     padding: 5px;
     margin: 2px 2px 15px 2px;
     box-shadow: 2px 5px 10px rgb(224, 224, 224);
     height: 3rem;
     outline: none;
     border: 1px solid #707070;
 
 }



.login .forgotpass a{
    text-decoration: none;
    color: blue;
}
@media screen and (max-width: 600px){
    .login .inner{
        width: 90%;
        margin: 5px 5% 5px 5%;
        box-shadow: 5px 10px 10px rgb(224, 224, 224);
        padding: 5px;
    }
}