.footers{
    background-color: black;
    height: auto;
    width: 100%;
    margin: 50 0%;
    color: white;
    font-family: 'Alex Brush';
    padding: 10px
}

.footers h1{
    width: 300px;
    margin: 20px 50px;
    border: 2px solid red;
}


.footers h1 a{
    text-decoration: none;
}
.footergrid{
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}
@media screen and (max-width:600px) {
    .footergrid{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
.footerelement{
    position: relative;
    display: inline-block;
}
.footerelement:last-child{
    background-color: white;
    color: black;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0%;
}
.footergrid .footerelement  form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    outline: none;
    box-shadow: 3px 5px 5px rgb(224, 224, 224);
    padding: 1px;
    width: 100%;
}


.image{
    position: relative;
    width: 300px;
}

@media screen and (max-width: 600px){
    .image{
        width: 200px;
    }
}
.image__img{
    display: block;
    width: 100%;
}

.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image__overlay__blur{
    backdrop-filter: blur(5px);
}
.image__overlay > * {
    transform: translateY(20px);
    transition: 0.25s;
}
.image__overlay:hover{
    opacity: 1;
}
.image__overlay:hover > *{
    transform: translateY(0)
}
.image__title{
    font-size: 2em;
    font-weight: bold;
}
.image__description{
    font-size: 1.25em;
    margin-top: 0.25em;
}
.footergrid .footerelement  form input{
    border: 0;
    border-radius: 5px;
    padding: 5px;
    line-height: 25px;
    border-bottom: 2px solid rgb(224, 224, 224);
    width: 90%;
    margin:  10px 5%;
    outline: none;
}
.footergrid .footerelement a{
    display: block;
    margin: 5px 20px;
    position: relative;
    color: green;
    width: fit-content;
    
}
.footergrid .footerelement a:hover{
    color: lightgreen;
    margin-left: 30px;
    font-size: 16px;
}

.footerelement h4{
    margin: 5px 10px;
    font-family: 'Alex Brush';
}
