.register{
    background-image: url('../photos/pexels-evie-shaffer-2512387.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 100%;
}

.register .inner{
   width: 40%;
   margin: 10px 10% 10px 50%;
   box-shadow: aqua;
   box-shadow: 5px 10px 10px rgb(224, 224, 224);
   padding: 15px;
   background-color: white;
   border: 1px solid rgb(224, 224, 224);
}

.inner h1{
    margin-top: 10px;
}
.register form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 20px 10%;
    background-color: white;
    
}
.register form p {
    color: red;
}

.register .errDiv{
    background-color: rgb(211, 41, 41);
    position: fixed;
    margin: -50px 15px 0px -10px;
    color: white;
    width: 40%;
    text-align: center;
    font-size: 15px;
}

.register label{
    margin-top: 15px;
}
.register label span{
    color: red;
}

.register textarea{
    padding: 5px;
    font-size: 15px;
    border-radius: 2px;
}


.register input{
    border-radius: 5px;
    line-height: 25px;
    padding: 5px;
    margin: 2px 2px 15px 2px;
    box-shadow: 2px 5px 10px rgb(224, 224, 224);
    height: 3rem;
    outline: none;
    border: 1px solid #707070;
}

.register .passwordStrength{
    width: 50%;
    height: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;

}

@media screen and (max-width: 600px){
    .register .passwordStrength{
        width: 100%;
    }
    .register .inner errDiv{
        width: 100%;
    }
}

.register .passwordStrength .passwordIner{
    width: 50%;
    height: 100%;
    background-color: black;
    transition: .5s ease-in-out;
}
@media screen and (max-width:600px){
    .register .inner{
        width: 90%;
        margin: 5px 5% 5px 5%;
        box-shadow: 5px 10px 10px rgb(224, 224, 224);
        padding: 5px;
    }
     .register .inner form{
        width: 80%;
        margin: 10px 10%;
    }
    .register label{
        margin-top: 15px;
        font-weight: bolder;
      
    
    }
}
/*signup with social media*/
.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.socialmedia hr{
    width: calc(150px - 50px);
    margin: 10px;
    background-color: rgb(224, 224, 224);
    height: 1px;
}

.social_icons{
    display: flex;
    justify-content: center;
}

.social_icons div{
    margin: 5px 20px;
    font-size: 2rem;
    cursor: pointer;
}
.social_icons div:first-child{
    color: #DB4437;
}
.social_icons div:last-child{
    color: #1DA1F2;
}
.social_icons div:nth-child(2){
    color: #4267B2;
}
/*terms of service*/
.terms{
    width: fit-content;
    display: flex;
    background-color: transparent;
    justify-content: flex-start;
}

.terms input{
    background-color: transparent;
    height: fit-content;
    padding-right: 5px;
}